<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login System</title>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  
  <!--
  <a href="http://127.0.0.1:5000/home/">Click here on link for create an account</a>
  -->

</head>
<body>



  {% block content %}
    <h1>Base</h1>
    {# Template inserted here #}
  {% endblock %}

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>

   
</body>
</html>

